#Navigation {
    position: fixed;
    width: 100vw;
    background-color: #AA5939;
}
#Navigation > ul.container {
    margin: 0;
    padding: 10px;
    list-style: none;
}
#Navigation li {
    margin-right: 10px;
    display: inline
}
#Navigation .container {
    margin: auto;
}

}
#Classy p {
    font-style: italic;
    font-family: 'Eater', cursive;
    color: #AA5939;
}
#Sample {
    background-color: #474B9C;
    padding: 50px;
    height: 100;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}


h1 {
    color: black;
    margin: 0%
}